.promo {
  padding: 10px;
  font-family: "Cinzel", serif;
}

.brand-logo {
  
  font-family: "Cinzel", serif;
}

.medias {
  margin-left: 10px;
  color: black;
}

.medias:hover {
  cursor: pointer;
}

.nav-content {
  padding: 30px;
}

.nav-title {
  color: black;
  font-family: "Cinzel", serif;
}

/* .nav-item:hover { 
    background-color: #ffebee;
  } */

.card-content a {
  color: #f48fb1;
}

h5 {
    font-family: "Cinzel", serif;
}
